<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	
		<link rel="stylesheet" type="text/css" href="main.css">

	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Shop</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
</head>
<body>
	<table class="table">
		
		<thead>
			<tr>
				<th>Product</th>
				<th>Price</th><br/>

			</tr>	
		</thead>
		<tbody>
			<% for(var i = 0; i < products.length; i++){ %>
				<tr>
					<td><%= products[i].product %></td>
	
				<td><%=products[i].price%></td>	
				<td>
					<form action=" <%= '/deleteProduct/' + products[i]._id %>" method= "post">
						<button class="delete is-large" type="submit"></button>
					</form>
				</td>
			</tr>
			<%}%>
		</tbody>
	</table>

	<a href="/">Weitere Artikel plussen</a>
</body>
</html>